* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

header {
  margin: 10px auto;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* background-color: #333; */
  /* transition: all .35s; */
  width: 200px;
  transition: width 1s;
  text-align: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #b5838d; */
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  border-radius: 20px;
  color: white;
  /* transition: all .35s; */
  width: 300px;
  transition: width 0.5s;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 20px;
  text-decoration: underline;
  color: white;
}

.main-image {
  display: flex;
  justify-content: center;
}

img {
  width:200px;
  height:200px;
  border-radius: 100px;
  object-fit: cover;
}

.intro {
  text-align: center;
}

header .navOpenBtn, .topnav .navCloseBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  header .navOpenBtn, .topnav .navCloseBtn {
    display: block;
  }

  .topnav {
    position:fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 250px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }

  .openNav .topnav {
    left: 0;

  }

  .topnav .navCloseBtn {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  header .navOpenBtn {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

}